mat-card {
    width:  60%;
    height: 60%;
    margin: 75px auto;
}

button {
    display: grid;
    margin-left: 20px;
}

.signInForm .registerForm {
    width: 200px;
}

.slideText {
    color: white;
}

.errorMsg {
    color: white;
    margin-left: 20px;
}