mat-card {
    width:  60%;
    height: 60%;
    margin: 75px auto;
}

button {
    display: grid;
    margin-left: 20px;
}

input {
    flex-grow: 1;
}

.signInForm .registerForm {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.slideText {
    color: white;
}

.errorDiv {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.errorMsg {
    color: white;
}