<mat-card *ngIf="!userAuthenticated">
  <mat-card-header>
    <mat-button-toggle-group value="Login">
      <mat-button-toggle value="Login" (change)="changeSlider(1)">
        Login
      </mat-button-toggle>
      <mat-button-toggle value="Register" (change)="changeSlider(2)">
        Register
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="slider === 1" class="signInForm">
      <mat-form-field>
        <mat-label>E-mail Address</mat-label>
        <input
          [(ngModel)]="userEmail"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          [(ngModel)]="userPass"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <button mat-raised-button (click)="loginUser()">Submit</button>
    </form>
    <form *ngIf="slider === 2" class="registerForm">
      <mat-form-field>
        <mat-label>E-mail Address</mat-label>
        <input
          [(ngModel)]="userEmail"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          [(ngModel)]="userPass"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input
          type="password"
          [(ngModel)]="userPass2"
          matInput
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <button mat-raised-button (click)="registerUser()">Submit</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <div *ngIf="error" class="errorDiv">
      <h3 class="errorMsg">{{ errorMsg }}</h3>
    </div>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="userAuthenticated">
  <div class="loggedInDiv">
    <h3 class="loggedInText">Welcome!</h3>
  </div>
  <mat-card-footer>
    <button mat-raised-button class="logOutButton" (click)="signOutUser()">
      Log Out
    </button>
  </mat-card-footer>
</mat-card>
